.maynard-panel {
    background-color: alpha(black, 0.7);
}

.maynard-system {
    background-color: #6d6d6d;
    color: white;
    padding: 16px;
}

.maynard-audio {
    background-color: #b4b4b4;
    color: white;
    padding: 13px;
}

.maynard-apps {
    color: #bebebe;
}

.maynard-apps:hover {
    -GtkWidget-focus-line-width: 0px;
    background-color: #1c1c1c;
    background-image: none;
    color: white;
}

.maynard-clock {
    background-color: #929292;
    color: white;
}

.maynard-grid {
    background-color: alpha(white, 0.5);
}

.maynard-grid-item {
    background-color: alpha(black, 0.7);
    color: white;
    font: Droid Sans 12;
    border-style: solid;
    border-color: #6d6d6d;
    border-width: 1px;
    border-radius: 1px;
}

.maynard-grid-label {
    background-color: #929292;
}