.maynard-panel {
    background-color: alpha(black, 0.7);
}

.maynard-system {
    background-color: #6d6d6d;
    padding: 13px;
    color: #fcfcfc;
}

.maynard-system:hover {
    background-color: alpha(#6d6d6d, 0.8);
    color: white;
}

.maynard-audio {
    background-color: #b4b4b4;
    color: #fcfcfc;
    padding: 13px;
}

.maynard-audio:hover {
    background-color: alpha(#b4b4b4, 0.8);
    color: white;
}

.maynard-apps {
    color: #bebebe;
}

.maynard-apps:hover {
    background-color: alpha(black, 0.2);
    color: white;
}

.maynard-clock {
    background-color: #929292;
    color: white;
}

.maynard-grid {
    background-color: alpha(black, 0.6);
}

.maynard-grid-item {
    background-color: alpha(black, 0.6);
    color: white;
    font: Droid Sans 12;
    border-style: solid;
    border-color: #6d6d6d;
    border-width: 1px;
    border-radius: 1px;
}

.maynard-grid-label {
    background-color: #929292;
}